.bg-tile000 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -1px -1px;
}

x

.bg-tile001 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -19px -1px;
}

x

.bg-tile002 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -1px -19px;
}

x

.bg-tile003 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -19px -19px;
}

x

.bg-tile004 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -37px -1px;
}

x

.bg-tile005 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -37px -19px;
}

x

.bg-tile006 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -1px -37px;
}

x

.bg-tile007 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -19px -37px;
}

x

.bg-tile008 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -37px -37px;
}

x

.bg-tile009 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -55px -1px;
}

x

.bg-tile010 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -55px -19px;
}

x

.bg-tile011 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -55px -37px;
}

x

.bg-tile012 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -1px -55px;
}

x

.bg-tile013 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -19px -55px;
}

x

.bg-tile014 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -37px -55px;
}

x

.bg-tile015 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -55px -55px;
}

x

.bg-tile016 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -73px -1px;
}

x

.bg-tile017 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -73px -19px;
}

x

.bg-tile018 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -73px -37px;
}

x

.bg-tile019 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -73px -55px;
}

x

.bg-tile020 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -1px -73px;
}

x

.bg-tile021 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -19px -73px;
}

x

.bg-tile022 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -37px -73px;
}

x

.bg-tile023 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -55px -73px;
}

x

.bg-tile024 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -73px -73px;
}

x

.bg-tile025 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -91px -1px;
}

x

.bg-tile026 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -91px -19px;
}

x

.bg-tile027 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -91px -37px;
}

x

.bg-tile028 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -91px -55px;
}

x

.bg-tile029 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -91px -73px;
}

x

.bg-tile030 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -1px -91px;
}

x

.bg-tile031 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -19px -91px;
}

x

.bg-tile032 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -37px -91px;
}

x

.bg-tile033 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -55px -91px;
}

x

.bg-tile034 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -73px -91px;
}

x

.bg-tile035 {
    width: 16px; height: 16px;
    background: url('pipes-sprites.png') -91px -91px;
}