.bg-tile000 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -1px;
}

x

.bg-tile001 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -1px;
}

x

.bg-tile002 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -11px;
}

x

.bg-tile003 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -11px;
}

x

.bg-tile004 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -1px;
}

x

.bg-tile005 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -11px;
}

x

.bg-tile006 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -21px;
}

x

.bg-tile007 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -21px;
}

x

.bg-tile008 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -21px;
}

x

.bg-tile009 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -1px;
}

x

.bg-tile010 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -11px;
}

x

.bg-tile011 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -21px;
}

x

.bg-tile012 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -31px;
}

x

.bg-tile013 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -31px;
}

x

.bg-tile014 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -31px;
}

x

.bg-tile015 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -31px;
}

x

.bg-tile016 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -1px;
}

x

.bg-tile017 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -11px;
}

x

.bg-tile018 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -21px;
}

x

.bg-tile019 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -31px;
}

x

.bg-tile020 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -41px;
}

x

.bg-tile021 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -41px;
}

x

.bg-tile022 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -41px;
}

x

.bg-tile023 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -41px;
}

x

.bg-tile024 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -41px;
}

x

.bg-tile025 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -1px;
}

x

.bg-tile026 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -11px;
}

x

.bg-tile027 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -21px;
}

x

.bg-tile028 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -31px;
}

x

.bg-tile029 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -41px;
}

x

.bg-tile030 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -51px;
}

x

.bg-tile031 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -51px;
}

x

.bg-tile032 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -51px;
}

x

.bg-tile033 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -51px;
}

x

.bg-tile034 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -51px;
}

x

.bg-tile035 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -51px;
}

x

.bg-tile036 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -1px;
}

x

.bg-tile037 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -11px;
}

x

.bg-tile038 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -21px;
}

x

.bg-tile039 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -31px;
}

x

.bg-tile040 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -41px;
}

x

.bg-tile041 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -51px;
}

x

.bg-tile042 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -61px;
}

x

.bg-tile043 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -61px;
}

x

.bg-tile044 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -61px;
}

x

.bg-tile045 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -61px;
}

x

.bg-tile046 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -61px;
}

x

.bg-tile047 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -61px;
}

x

.bg-tile048 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -61px;
}

x

.bg-tile049 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -1px;
}

x

.bg-tile050 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -11px;
}

x

.bg-tile051 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -21px;
}

x

.bg-tile052 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -31px;
}

x

.bg-tile053 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -41px;
}

x

.bg-tile054 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -51px;
}

x

.bg-tile055 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -61px;
}

x

.bg-tile056 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -71px;
}

x

.bg-tile057 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -71px;
}

x

.bg-tile058 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -71px;
}

x

.bg-tile059 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -71px;
}

x

.bg-tile060 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -71px;
}

x

.bg-tile061 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -71px;
}

x

.bg-tile062 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -71px;
}

x

.bg-tile063 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -71px;
}

x

.bg-tile064 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -1px;
}

x

.bg-tile065 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -11px;
}

x

.bg-tile066 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -21px;
}

x

.bg-tile067 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -31px;
}

x

.bg-tile068 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -41px;
}

x

.bg-tile069 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -51px;
}

x

.bg-tile070 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -61px;
}

x

.bg-tile071 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -71px;
}

x

.bg-tile072 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -81px;
}

x

.bg-tile073 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -81px;
}

x

.bg-tile074 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -81px;
}

x

.bg-tile075 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -81px;
}

x

.bg-tile076 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -81px;
}

x

.bg-tile077 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -81px;
}

x

.bg-tile078 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -81px;
}

x

.bg-tile079 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -81px;
}

x

.bg-tile080 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -81px;
}

x

.bg-tile081 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -1px;
}

x

.bg-tile082 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -11px;
}

x

.bg-tile083 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -21px;
}

x

.bg-tile084 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -31px;
}

x

.bg-tile085 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -41px;
}

x

.bg-tile086 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -51px;
}

x

.bg-tile087 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -61px;
}

x

.bg-tile088 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -71px;
}

x

.bg-tile089 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -81px;
}

x

.bg-tile090 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -91px;
}

x

.bg-tile091 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -91px;
}

x

.bg-tile092 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -91px;
}

x

.bg-tile093 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -91px;
}

x

.bg-tile094 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -91px;
}

x

.bg-tile095 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -91px;
}

x

.bg-tile096 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -91px;
}

x

.bg-tile097 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -91px;
}

x

.bg-tile098 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -91px;
}

x

.bg-tile099 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -91px;
}

x

.bg-tile100 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -1px;
}

x

.bg-tile101 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -11px;
}

x

.bg-tile102 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -21px;
}

x

.bg-tile103 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -31px;
}

x

.bg-tile104 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -41px;
}

x

.bg-tile105 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -51px;
}

x

.bg-tile106 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -61px;
}

x

.bg-tile107 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -71px;
}

x

.bg-tile108 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -81px;
}

x

.bg-tile109 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -91px;
}

x

.bg-tile110 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -101px;
}

x

.bg-tile111 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -101px;
}

x

.bg-tile112 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -101px;
}

x

.bg-tile113 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -101px;
}

x

.bg-tile114 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -101px;
}

x

.bg-tile115 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -101px;
}

x

.bg-tile116 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -101px;
}

x

.bg-tile117 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -101px;
}

x

.bg-tile118 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -101px;
}

x

.bg-tile119 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -101px;
}

x

.bg-tile120 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -101px;
}

x

.bg-tile121 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -1px;
}

x

.bg-tile122 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -11px;
}

x

.bg-tile123 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -21px;
}

x

.bg-tile124 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -31px;
}

x

.bg-tile125 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -41px;
}

x

.bg-tile126 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -51px;
}

x

.bg-tile127 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -61px;
}

x

.bg-tile128 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -71px;
}

x

.bg-tile129 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -81px;
}

x

.bg-tile130 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -91px;
}

x

.bg-tile131 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -101px;
}

x

.bg-tile132 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -1px -111px;
}

x

.bg-tile133 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -11px -111px;
}

x

.bg-tile134 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -21px -111px;
}

x

.bg-tile135 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -31px -111px;
}

x

.bg-tile136 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -41px -111px;
}

x

.bg-tile137 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -51px -111px;
}

x

.bg-tile138 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -61px -111px;
}

x

.bg-tile139 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -71px -111px;
}

x

.bg-tile140 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -81px -111px;
}

x

.bg-tile141 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -91px -111px;
}

x

.bg-tile142 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -101px -111px;
}

x

.bg-tile143 {
    width: 8px; height: 8px;
    background: url('tiles-sprites.png') -111px -111px;
}